@import '~bootstrap/scss/bootstrap';
@import './_variables/color_text';
@import './_variables/color_classes';
@import './_variables/header';
@import './_variables/main';

body {
    background-color: #1d1d1d;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 3rem;
    color: $color_text;
}

p {
    font-size: 1.2rem;
}

a,
label {
    text-decoration: none;
    color: white;
}


#home {
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-image: url('../../public/images/PixelArtBackground.gif');
    background-size: cover;


    .btn-start {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #57c7f2;
        color: #1d1d1d;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 8px;
        box-shadow: 2px 2px 0 #111;
        transition: 0.3s ease;
    }

    .btn-start:hover {
        background-color: #f25757;
        transform: translateY(-3px);
    }
}