@import '~bootstrap/scss/bootstrap';
@import './_variables/color_text';

body {
    background-color: #1d1d1d;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 3rem;
    color: $color_text;
}

p {
    font-size: 1.2rem;
}

a,
label {
    text-decoration: none;
    color: white;
}

#home {
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-image: url('../../public/images/PixelArtBackground.gif');
    background-size: cover;


    .btn-start {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #57c7f2;
        color: #1d1d1d;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 8px;
        box-shadow: 2px 2px 0 #111;
        transition: 0.3s ease;
    }

    .btn-start:hover {
        background-color: #f25757;
        transform: translateY(-3px);
    }
}

header {
    height: 60px;

    .navbar {
        align-items: center;
        height: 50px;
    }

    .navbar li {
        margin: 0px 10px;

        .active {
            color: $color_text;
            border-bottom: 5px solid $color_text;
        }
    }

    .nav-link:hover {
        color: $color_text;
    }

    h3,
    h4 {
        margin: 0;
    }

}

main {
    td {
        text-align: center;

        a:hover {
            color: $color_text;
        }
    }

    h6 {
        a {
            color: #9b9d9e;

            &:hover {
                color: $color_text;
            }
        }
    }

    .color {
        color: $color_text;
    }

    .btn-color {
        padding: 10px 20px;
        background-color: #1d1d1d;
        color: $color_text;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid $color_text ;
        border-radius: 8px;

        &:hover {
            background-color: $color_text;
            color: #1d1d1d;
            transition: 0.5s ease;
        }

    }

    .btn-color.reset {
        border: 1px solid rgba(255, 0, 0, 0.76);
        color: rgba(255, 0, 0, 0.76);

        &:hover {
            background-color: rgba(255, 0, 0, 0.76);
            color: #1d1d1d;
            transition: 0.5s ease;
        }
    }

    .card-body {
        height: 700px;
    }


}