$barbarian-color: #ff0000;
$bard-color: #225cfa;
$cleric-color: #008000;
$druid-color: #ffa500;
$fighter-color: #00ced1;
$monk-color: #808080;
$paladin-color: #800080;
$ranger-color: #ffffff;
$rogue-color: #9fa128;
$sorcerer-color: #ff1493;
$warlock-color: #008080;
$wizard-color: #ff4500;



.text-barbarian {
    color: $barbarian-color;
}

.text-bard {
    color: $bard-color;
}

.text-cleric {
    color: $cleric-color;
}

.text-druid {
    color: $druid-color;
}

.text-fighter {
    color: $fighter-color;
}

.text-monk {
    color: $monk-color;
}

.text-paladin {
    color: $paladin-color;
}

.text-ranger {
    color: $ranger-color;
}

.text-rogue {
    color: $rogue-color;
}

.text-sorcerer {
    color: $sorcerer-color;
}

.text-warlock {
    color: $warlock-color;
}

.text-wizard {
    color: $wizard-color;
}