header {
    height: 60px;
    z-index: 1;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;


    .navbar li {
        margin: 0px 10px;

        .active {
            color: $color_text;
            margin-top: 3px;
            border-bottom: 3px solid $color_text;
        }
    }

    .nav-link:hover {
        color: $color_text;
    }

    h4 {
        font-size: 16px;
    }

    h3,
    h4 {
        margin: 4px 0px 0px 0px;
    }

}