main {
    height: calc(100vh - 120px);
    margin-top: 60px;

    td {
        text-align: center;

        a:hover {
            color: $color_text;
        }
    }

    h6 {
        a {
            color: #9b9d9e;

            &:hover {
                color: $color_text;
            }
        }
    }

    .color {
        color: $color_text;
    }

    .btn-color {
        padding: 10px 20px;
        background-color: #1d1d1d;
        color: $color_text;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid $color_text ;
        border-radius: 8px;

        &:hover {
            background-color: $color_text;
            color: #1d1d1d;
            transition: 0.5s ease;
        }

    }

    .btn-color.reset {
        border: 1px solid rgba(255, 0, 0, 0.76);
        color: rgba(255, 0, 0, 0.76);

        &:hover {
            background-color: rgba(255, 0, 0, 0.76);
            color: #1d1d1d;
            transition: 0.5s ease;
        }
    }

    .card {
        height: 845px;
    }

    .grey-bg {
        background-color: #eeefee;
    }

    .bg-dark-gray {
        background-color: #1d1d1d;
    }

    .btn-outline-color {
        color: $color_text;
        border: 1px solid $color_text;

        &:hover {
            background-color: #9b9d9e;
            color: white;
        }

        .btn-color-gray {
            background-color: #9b9d9e;
            color: white;
        }

    }

    .btn-color-gray {
        background-color: #9b9d9e;
        color: white;

        &:hover {
            background-color: #9b9d9e;
            color: white;
        }
    }

    .my-10 a {
        margin-top: 10px;
    }



    .character-card {
        #character-img {
            width: 300px;
            height: 300px;
            margin-left: 20px;
        }

        #item-img {
            width: 30px;
            height: 30px;
        }

        .table {
            height: 300px;
            margin-left: 10px;
        }



    }

    .fs-10 {
        font-size: 10px;
    }

    .b-grey {
        border: 5px solid rgb(72, 67, 67);
    }

    .overflow-auto::-webkit-scrollbar {
        width: 10px;
    }

    .overflow-auto::-webkit-scrollbar-track {
        background: #2c2c2c;
    }

    .overflow-auto::-webkit-scrollbar-thumb {
        background-color: #6c757d;
        border-radius: 10px;
        border: 3px solid #2c2c2c;
    }

    .overflow-auto::-webkit-scrollbar-thumb:hover {
        background-color: #5a6268;
        border-bottom: 10px;
    }


}